body{
   max-width: 1200px;
}
.icona-Face{
    width: 50px;
}
.icone-navBar{
    position: relative;
    text-decoration: none;
   
}
.span-NavBar {
    position: absolute;
    text-decoration: none;
    top: 30%;
    right: 8%;
}

.image-navBar{
    position: relative;
 width: 60px;
}
.ball-NavBar{
position: absolute;
top: 55%;
right: 20%;

}

.image-navBar1{
    position: relative;
 width: 60px;
}
.ball-NavBar1{
position: absolute;
top: 20%;
right: 65%;

}
.dropdown-menu a{
    text-decoration: none; /* Rimuove la sottolineatura */
    color: #333;
    display: flex; /* Attiva Flexbox */
    align-items: center; /* Allinea verticalmente icona e testo */
    padding: 8px 15px;
  }

  .dropdown-menu i {
    margin-right: 10px; /* Spazio tra l'icona e il testo */
    font-size: 18px; /* Esempio, regola la dimensione dell'icona */
  }
  
  .dropdown-menu span {
    font-size: 16px; /* Esempio, regola la dimensione del testo */
  }